[submodule "config/models/Wizard-Vicuna-13B-Uncensored-SuperHOT-8K-GPTQ"]
	path = config/models/Wizard-Vicuna-13B-Uncensored-SuperHOT-8K-GPTQ
	url = https://huggingface.co/TheBloke/Wizard-Vicuna-13B-Uncensored-SuperHOT-8K-GPTQ
